/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 均于iconfont中导入 */
/* logo字体 */
@font-face {
  font-family: 'iconfont';  /* Project id 4677920 */
  src: url('//at.alicdn.com/t/c/font_4677920_4ui5btcmg1o.woff2?t=1726100646040') format('woff2'),
       url('//at.alicdn.com/t/c/font_4677920_4ui5btcmg1o.woff?t=1726100646040') format('woff'),
       url('//at.alicdn.com/t/c/font_4677920_4ui5btcmg1o.ttf?t=1726100646040') format('truetype'),
       url('//at.alicdn.com/t/c/font_4677920_4ui5btcmg1o.svg?t=1726100646040#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
